<launch>

    <node name="nusim_node" pkg="nusim" type="nusim_node"/>

    <arg name="use_rviz" default="true"/>
    <arg name="use_jsp" default="false"/>
    <arg name="color" default="red"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <group if="$(arg use_rviz)">

        
        <group ns="$(arg color)">
            <param name="robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro' prefix:=$(arg color)"/>
            <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
            <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
            <node name="rviz" pkg="rviz" type="rviz" args="-f world -d $(find nusim)/config/nusim.rviz"/>
            <node pkg="tf2_ros" type="static_transform_publisher" name="world2link" args="$(arg x) $(arg y) 0 0 0 0 1 world $(arg color)_base_footprint" />
        
        </group>

    </group>

</launch>
