<launch> 

    <arg name="cmd_src" default="circle"/>
    <arg name="robot" default="nusim"/>

    <remap from="/joint_states" to="/red/joint_states"/>
    <remap from="/sensor_data" to="/red/sensor_data"/>

    <rosparam command="load" file="$(find nuturtle_control)/config/odom_param.yaml"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 world map" />

    <include if="$(eval arg('cmd_src') == 'teleop')" file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>

    <group if="$(eval arg('robot') == 'nusim')">

        
        
        <include file="$(find nusim)/launch/nusim.launch">
            <arg name="use_rviz" value="false"/>
        </include>

        <node name="turtle_interface" pkg="nuturtle_control" type="turtle_interface" output="screen"/>


        <include file="$(find nuturtle_description)/launch/load.launch">
            <arg name="color" value="blue"/>
            <arg name="y" value="0.8"/>
            <arg name="x" value="-0.6"/>
            <arg name="use_rviz" value="false" />

        </include>

        <include file="$(find nuturtle_description)/launch/load.launch">
            <arg name="color" value="green"/>
            <arg name="y" value="0.8"/>
            <arg name="x" value="-0.6"/>
            <arg name="use_rviz" value="false" />

        </include>

        <node name="slam" pkg="nuslam" type="slam" output="screen"/>

        <node if="$(eval arg('cmd_src') == 'circle')" name="circle" pkg="nuturtle_control" type="circle"/>

        <node name="rviz" pkg="rviz" type="rviz" args="-f world -d $(find nuslam)/config/slam.rviz" required="true"/>

    </group>



</launch> 